html {
    font-size: 62.5%;
    width: 100%;
    overflow-x: hidden;
}

* {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(40, 75, 87, 1);
    margin: 0;
}


.main {
    background-color: rgba(40, 75, 87, 1);
}

.large-text {
    font-size: 50px;

}

.side-left {
    position: fixed;
    background-color: rgba(31, 57, 67, 1);
    text-align: center;

    right: 100;
    width: 13vw;
    height: 100vw;
    z-index: 1;

    li {
        color: #F4ECDD;
    }

}

#hamburger_container {
    .burger {
        border-bottom: 1rem solid black;
    }

}

#side-furthest-left {
    position: fixed;
    z-index: 2;
    background-color: #1A3038;
    width: 2vw;
    height: 100vw;
    right: 100;
}